:root {
  --primary-color: #020415;
  --secondary-color: #8591FF;
  --primary-text-color: #D3D4F0;
  --primary-bar-color: #6676ff;
  --primary-card-color: #181D4859;
  --input-background-color: rgba(255, 255, 255, 0.06);
}

.page {
  min-height: 100vh;
  min-width: 100vw;
}

.footer {
  background-color: black;
  color: var(--primary-text-color);
  font-weight: 800;
}

.float-right {
  float: right;
}

.text-align-center{
  text-align: center;
}

.text-align-left{
  text-align: left;
}

.text-align-right{
  text-align: right;
}

.decoration-none{
  text-decoration: none;
}

.background--primary{
  background-color: var(--primary-color);
}
#profile-photo{
  margin-top: 50px;
}

.bar--primary{
  border-left: 5px solid var(--primary-bar-color);
}
.bar--secondary{
  border-bottom: 3px solid var(--primary-bar-color);
}

.text-white {
  color: white;
}
.text--primary{
  color: var(--primary-text-color);
}
.text--secondary{
  color: var(--secondary-color);
}

.f64{
  font-size: 64px;
}
.f40{
  font-size: 40px;
}
.f32{
  font-size: 32px;
}
.f24{
  font-size: 24px;
}
.f18{
  font-size: 18px;
}

.project-card{
  min-width: 50vh;
  background-color: var(--primary-card-color);
  color: var(--primary-text-color)
}

.default-input{
  background-color: rgba(255, 255, 255, 0.06);
  border-bottom: 0;
  border: 2px solid #181D48;
  color: var(--primary-text-color);
  border-radius: 10px;
}

.v-field__outline {
  color: transparent
}
.submit-button {
  background-color: var(--input-background-color);
  color: var(--primary-text-color) !important;
  border: 2px solid #181D48;
  width: 100%;
}